@{
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
    ViewBag.Title = "Signup";
}

<h2>
   

    @if (Model != null)
    {@Model.Name <br />
    @Model.password <br />
    @Model.UId<br />
    @Model.Id<br />
    @Model.Email


}
</h2>
<h2>
    @{if (Model != null)
        {
            string emailf = Model.Id + "@student.aiub.edu";
            @emailf;
        }
    }
</h2>

<p><h2>Sign up</h2></p>


<form action="" method="post">


    Name :
    @*<input type="text" value="@(Model==null ? "":Model.Name)" name="Name" />*@
    <input type="text" name="Name" />

    <br />
    <span class="text-danger">@Html.ValidationMessage("Name")</span>
    <br />

    User Id :
    <input type="text" name="UId" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("UId")</span>
    <br />

    Password :
    <input type="password" name="password" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("password")</span>
    <br />

    Id :
    <input type="text" name="Id" placeholder="xx-xxxxx-x" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("Id")</span>
    <br />


    Email :
    <input type="text" name="Email" placeholder="x-xxxxx-x@student.aiub.edu" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("Email")</span>
    <br />



    <label> Birth date :</label>
      <input type="date" date="" id="start"> <br />
   

    <input type="submit" value="Submit" class="btn btn-danger" />

</form>
