@{
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
    ViewBag.Title = "Signup";
}

<p><h2>Sign up</h2></p>


<form action="" method="post">


    Name :
    @*<input type="text" value="@(Model==null ? "":Model.Name)" name="Name" />*@
    <input type="text" name="Name" />

    <br />
    <span class="text-danger">@Html.ValidationMessage("Name")</span>
    <br />

    User Id :
    <input type="text" name="UId" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("UId")</span>
    <br />

    Password :
    <input type="password" name="password" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("password")</span>
    <br />

    Id :
    <input type="number" name="Id" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("Id")</span>
    <br />


    Email :
    <input type="email" name="email" />
    <br />
    <span class="text-danger"></span>
    <br />



    <label> Birth date :</label>
    <input type="date" date="" id="start" name="trip-start" /> <br /> <br />


    <input type="submit" value="Submit" class="btn btn-danger" />

</form>
